#appArea {
    /* height: '100vh';
    overflow-y:'hidden'; */
    margin-top:"5px";
    opacity: 1 !important;
    background-image: url('stars.jpg') !important;
    background-repeat: no-repeat !important;
    background-position: 50% 0 !important;
    background-size: cover !important;
}

html, body{
    overflow:initial !important;
  }